@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Pushster&display=swap");

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-color: #023859;
  --support-color: #0d6ba6;
  --third-support-color: #f27649;
  --fourth-color: #f28907;
  --link-color: #f29f05;
  --white-color: white;
  --dark-color: black;
  --head-font: "Pushster", cursive;
  --body-font: "Lato", sans-serif;
}

html {
  box-sizing: border-box;
  font-family: var(--body-font);
}

.headContainer {
  display: grid;
  width: 100%;
  height: 250px;
  background-color: var(--main-color);
}

.headTitle {
  display: grid;
  color: var(--white-color);
  font-family: var(--head-font);
  font-size: 5rem;
  letter-spacing: 0.5rem;
  font-weight: 800;
  align-items: center;
  justify-content: center;
}

.navLinks {
  display: grid;
  align-items: center;
  justify-content: center;
}
.mainLink_wrapper a {
  display: inline-block;
  color: var(--link-color);
  font-size: 1.3em;
  /* border: 1px solid yellow; */
  grid-template-columns: repeat(4, 1fr);
  padding: 0 20px;
  text-decoration: none;
}

.main-container {
  width: 100%;
  background-color: var(--support-color);
}

.sectionHead h2 {
  color: var(--fourth-color);
  margin-top: auto;
  font-family: var(--head-font);
  text-align: center;
  padding-top: 20px;
  font-size: 3rem;
}

.sectionHead p {
  text-align: center;
  font-size: 1.3rem;
  font-family: var(--body-font);
  font-weight: 600;
  padding: 0 50px;
  color: var(--white-color);
}

/* 
===============
paragraph STARTS HER
===============
*/
.firstGrid-desc {
  display: none;
  padding: 12px;
}

.comentHead-section {
  text-align: center;
}

/* 
===============
paragraph ENDS HERE
===============
*/

/* 
===============
button Start
===============
*/
.btn-fir-grid:hover + .firstGrid-desc {
  width: 500px;
  height: auto;
  position: absolute;
  background-color: rgba(61, 61, 61, 70%);
  color: white;
  display: block;
  margin-right: -20px;
  left: 20%;
  bottom: -40px;
}

.btn-fir-grid {
  height: 40px;
  background-color: var(--link-color);
  font-size: 1.5rem;
  box-shadow: 20% 10deg;
  filter: drop-shadow(0 -5px 10px black);
}

.btn-fir-grid:hover {
  transform: translateY(-2px);
}
/* 
===============
button end
===============
*/

/* 
=================================================
Grid
=================================================
*/
.my-first-grid {
  display: grid;
  gap: 10px;
  grid-template-rows: 200px 200px;
  grid-template-columns: 200px 200px;
  grid-auto-rows: 200px;
  grid-auto-columns: 200px;
  background-color: #e4e4e4;
  padding: 20px 0;
  /* align-content: center;
    justify-content: center; */
  padding-bottom: 50px;
}

/* control the grid boxes living in the grid container: STARTS HERE */

/* here we have display grid */

/* .my-grid-container{
    display: grid;
    grid-template-columns: 1fr;
    border: 5px solid black;
} */

/* here we have display inline-block */
.my-grid-container {
  display: inline-grid;
  grid-template-columns: 1fr;
  border: 5px solid black;
}

/* contraol the grid boxes living in the grid container: ENDS HERE */

/* GRID ITEMS START HERE */

.grid-item-1 {
  grid-row: 1;
  grid-column: 1;
}

.grid-item-2 {
  grid-row: 1;
  grid-column: 2;
}

.grid-item-3 {
  grid-row: 2;
  grid-column: 1;
}

.grid-item-4 {
  grid-row: 2;
  grid-column: 2;
}

/* GRID ITEMS END HERE */

/*All that happens inide the boxes: STARTS HERE
This section is for the changes we want to happen within the grids them selves*/

/* [class^='grid-item']{
    outline: 3px solid #f90;
    font-size: 30px;
    color: #333;
} */

/* this centers all items/conetents living in the grid */
[class^="grid-item"] {
  display: grid;
  align-items: center;
  justify-content: center;
  outline: 3px solid #f90;
  font-size: 30px;
  color: #333;
}
/*All that happens inside the boxes: ENDS HERE*/

.first-grid-article {
  text-align: center;
  padding: 0 20px;
}

.first-grid-article h1 {
  font-family: var(--head-font);
  font-size: 1.8rem;
}

.first-grid-article p {
  color: var(--white-color);
}

/* 
===============================================================
Grid ENDS HERE
===============================================================
*/
